:root {
    /* CSS HEX */
    --tomato: #fe4a49ff;
    --light-red: #ff6d6dff;
    --mustard: #fed766ff;
    --jasmine: #ffe38eff;
    --vivid-sky-blue: #5ac5e9ff;
    --non-photo-blue: #8ee0fcff;
    --emerald: #23ce6bff;
    --spring-green: #0cf574ff;

    /* CSS HSL */
    --tomato: hsla(0, 99%, 64%, 1);
    --light-red: hsla(0, 100%, 71%, 1);
    --mustard: hsla(45, 99%, 70%, 1);
    --jasmine: hsla(45, 100%, 78%, 1);
    --vivid-sky-blue: hsla(195, 76%, 63%, 1);
    --non-photo-blue: hsla(195, 95%, 77%, 1);
    --emerald: hsla(145, 71%, 47%, 1);
    --spring-green: hsla(147, 92%, 50%, 1);
}

/* ################################################# */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lexend Exa";
}

body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 20px; */
    min-height: 100vh;
}

.container {
    width: 100%;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background: #27ae60; */
}

.header {
    width: 100vw;
    /* background: #fff; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* padding: 15px 30px; */
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}

.login {
    margin-top: 20px;
}

.logo-section,
.search-section,
.auth-section {
    display: flex;
    align-items: center;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 30px;
    border-radius: 10px;
}

.logo-section {
    background: #27ae60;
}

.logo-img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    filter: invert(100%);
}

.web-name {
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
}

.search-section {
    padding: 0;
    /* background: #fff; */
    background: none;
    width: 45%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    box-shadow: none;
}

.normal {
    padding: 0;
    background: #fff;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.advanced {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.glass {
    padding: 12px 10px 12px 14px;
    background: none;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.advance {
    padding: 0px 5px;
}

.search-section input {
    /* width: 250px; */
    width: 100%;
    padding: 15px;
    /* border: 1px solid #ddd; */
    /* border-radius: 4px 0 0 4px; */
    outline: none;
    border: none;
}

.sign-card-left,
.sign-card-right {
    border: 1px solid black;
    border-radius: 15px;
    width: fit-content;
    box-shadow: 2px 3px 15px 2px rgba(104, 104, 104, 0.192);
.search-section input:focus {
    border: 1px solid #27ae60;
}

.search-btn {
    /* padding: 8px 15px; */
    padding: 16px;
    border: none;
    background: #27ae60;
    color: #fff;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    transition: background 0.3s;
}

.search-btn:hover {
    background: #219150;
}

.search-btn-advance {
    /* padding: 16px; */
    padding: 10px;
    border: none;
    background: #fff;
    /* color: #fff; */
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s;
}

.auth-section {
    /* background: #27ae60; */
    background: none;
    box-shadow: none;
    padding: 0;
}

.auth-btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
    /* box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199); */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* background-color: rgb(255, 65, 65); */
    background-color: #27ae60;
}

.sign {
    width: 100%;
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign img {
    filter: invert(100%);
}

.text {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    transition-duration: .3s;
}

.auth-btn:hover {
    width: 125px;
    border-radius: 10px;
    transition-duration: .3s;
}

.auth-btn:hover .sign {
    width: 30%;
    transition-duration: .3s;
    padding-left: 20px;
}

.auth-btn:hover .text {
    opacity: 1;
    width: 70%;
    transition-duration: .3s;
    padding-right: 10px;
    /* padding: 10px; */
}

.auth-btn:active {
    transform: translate(2px, 2px);
}

.forms {
    display: flex;
}

.form-container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    height: fit-content;
    padding: 20px;
    margin: 45px 30px;
}

.form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.form-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #000;
}

.table-code {
    font-size: 1.2rem;
    font-weight: bold;
    color: #27ae60;
}

.form-label {
    font-size: 0.9rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
    display: block;
}

.form-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    /* background-color: #f9f9f9; */
    background-color: #27ae5f2f;
    font-size: 0.9rem;
    color: #333;
}

.submit-btn {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    font-weight: bold;
    background-color: #27ae60;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-btn:hover {
    background-color: #219150;
}

.enter {
    margin-top: 25px;
    margin-bottom: 15px;
}

.register {
    margin-top: 10px;
}

.separator {
    width: 1px;
    height: 300px;
    background-color: #918d8d63;
    margin-top: 90px;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
}

.flex-row>div>label {
    font-size: 14px;
    color: black;
    font-weight: 400;
}

.span {
    font-size: 14px;
    margin-left: 5px;
    color: #2d79f3;
    font-weight: 500;
    cursor: pointer;
}

.p {
    text-align: center;
    color: black;
    font-size: 14px;
    margin: 5px 0;
}

.social-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.btn {
    /* width: 150px; */
    /* height: 50px; */
    border: none;
    /* border-radius: 50%; */
    border-radius: 10px;
    /* background-color: #27ae60; */
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    padding: 7px 15px;
}

.google {
    background-color: rgb(226, 47, 47);
}

.google:hover {
    background-color: rgb(238, 79, 79);
}

.apple {
    background-color: #918d8d;
}

.apple:hover {
    background-color: #afaeae;
}